* {
    font-family: 'Open Sans', sans-serif;
    
}

/* banner style */
.banner {
    position: relative;
    
}

.text-block {
    width: 45%;
    padding: 200px 20px;
    position: absolute;
    top: 20px;
    right: 20px;

    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
}

.text-heading {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 0;

}

.text-description {
    font-size: 16px;
}

.btn-contact {
    font-weight: 600;
    background-color: #FFFFFF;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

/* failure section style */
/* section{
   
} */
.failure{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 200px 150px;
    
}
.section-intro {
    padding-left: 20px;
    text-align: left;
}
.section-title {
    font-weight: 700;
    font-size: 40px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}

.section-description, ul {
    font-size: 16px;
    color: #444343;
}
/* passion style */
.section-title{
    text-align: center;
}
.passion{
    display: flex;
    justify-content: space-around;
    margin: 100px 150px;
}
.passion-intro{
    font-size: 16px;
    color: #444343;
    height: 300px;
    width: 200px;
   border-left:2px solid lightblue;
   border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;

}
#etheirume{
    border-left:2px solid violet;
}
#App{
    border-left:2px solid yellowgreen;
}
hr{
    color: aqua;
   
}
/* My plans */
.plan-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 150px;
}
h5{
    color: #747775;
}
